<!--包含头部文件-->
{include file="public/header" /}
<style>
    .select_style{
        padding: 4px;height: 31px;border-color: #ddd
    }
</style>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 开发管理 <span class="c-gray en">&gt;</span> 操作日志 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form  action="{:url('operat_list')}" method="post">
        <div class="text-c"> 日期范围：
                <input type="text" onfocus="WdatePicker()" id="datemin" class="input-text Wdate" style="width:180px;" name="start_time" value="{$param['start_time']}">
                -
                <input type="text" onfocus="WdatePicker()" id="datemax" class="input-text Wdate" style="width:180px;"  name="end_time" value="{$param['end_time']}">
               <!--搜索：-->
                <select name="keyword" class="select_style"style="width:100px;">
                    <option value="name" {$param['keyword']=='name' ? 'selected' :  '' }>操作用户</option>
                    <option value="url" {$param['keyword']=='url' ? 'selected' :  '' }>url</option>
                </select>
                <input type="text" style="width:150px" class="input-text" value="{$param['keyvalue']}" placeholder="" id="" name="keyvalue">
                <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
    </form>

    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="80">ID</th>
                <th width="100">url</th>
                <th width="30">操作用户</th>
                <th width="150">操作时间</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $v}
            <tr class="text-c">
                <td>{$v.id}</td>
                <td>{$v.url}</td>
                <td class="text-c">{$v.name}</td>
                <td>{$v.create_time}</td>
            </tr>
            {/foreach}

            </tbody>

        </table>
        <div>{$page|raw}</div>

    </div>
</div>
<!--包含尾部文件-->
{include file="public/footer" /}
