<!--包含头部文件-->
{include file="public/header" /}
<body>
<div class="page-container">
    <form action="#" id="myinfoup" method="POST" class="form form-horizontal" role="form" >
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>登录账号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder=""   name="username">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>昵称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder=""   name="nickname">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" value="" placeholder=""  name="password" id="password">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>重复密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" value="" placeholder=""  name="repass" id="repass">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>权限组：</label>
            <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select name="type" class="select">
                    <option value="">未选择</option>
                    {foreach $group as $v}
                    <option value="{$v.id}">{$v['description']}</option>
                    {/foreach}
                </select>
				</span>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  type="submit" class="btn btn-primary radius myinfobt" ><i class="Hui-iconfont">&#xe632;</i> 保存</button>

                <button onclick="layer_close()"  class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
</div>
<!--包含尾部文件-->
{include file="public/footer" /}
<script>
    $("#myinfoup").validate({
        rules:{
            username:{
                required:true,
            },
            nickname:{
                required:true,
            },
            password:{
                required:true,
                minlength:6,
                maxlength:16
            },
            repass:{
                required:true,
                minlength:6,
                maxlength:16
            },
            type:{
                required:true,
            },
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            var formData = new FormData($( "#myinfoup" )[0]);

            var inpt_pass = $("#password").val();
            var inpt_repass = $("#repass").val();

            if(inpt_pass!=''){
                if(inpt_pass !== inpt_repass){
                    layer.msg('2次密码不一致',{icon:2});
                    return false;
                }
            }

            $.ajax({
                url: "{:url('user_add')}" ,  /*这是处理文件上传的servlet*/
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                dataType:"json",
                success: function (returndata) {
                    var msg = returndata.message;
                    if(returndata.statusCode==200){

                        layer.msg(msg, {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            parent.location.reload();//刷新父页面
                            layer_close()
                        });

                    }else{
                        layer.msg(msg,{icon:2});
                    }
                },
                error: function (returndata) {
                    layer.msg('请稍后再试 网络有延迟！',{icon:2});
                }
            });
            return false;
        }
    });
</script>